@model IEnumerable<FurnitureStoreData.Models.Product>
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="banner">
    <img id="pic" src="Picture/slider-4.jpg" alt="">
    <div class="in-content">
        <div class="tran-box">
            <div class="title">Design for life</div>
            <div class="text-title">Say hello to our brand new arrivals.</div>
            <div class="all-button">
                <button>Shop all new in</button>
            </div>
        </div>
        <button id="left"><i class="fa-solid fa-arrow-left"></i></button>
        <button id="right"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <div id="list">
        <ul>
            <li><button onclick="indexNumber(0)"></button></li>
            <li><button onclick="indexNumber(1)"></button></li>
            <li><button onclick="indexNumber(2)"></button></li>
        </ul>
    </div>
</div>
<div class="box-room" data-aos="fade-up">
    <a href="">
        <div class="living-room">
            <img src="Picture/Living-room.jpg" alt="">
            <div class="title-Living-room">Living room</div>
            <div class="Shop-col">Shop Collection</div>
        </div>
    </a>
    <a href="">
        <div class="bed-room">
            <img src="Picture/bedroom.jpg" alt="">
            <div class="title-bed-room">Bed room</div>
            <div class="Shop-col">Shop Collection</div>
        </div>
    </a>
    <a href="">
        <div class="ketchen-room">
            <img src="Picture/ketchen-room.jpg" alt="">
            <div class="title-kitchen-room">kitchen room</div>
            <div class="Shop-col">Shop Collection</div>
        </div>
    </a>
</div>
<div class="box-product-sell" data-aos="fade-up">
    <div class="box-product-sell-2">
        <div class="in-title">
            <div class="word">Sản phẩm mới nhất</div>
            <div class="see-deals">
                <a asp-controller="Shop" asp-action="Index">
                    Xem tất cả <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="all-new-product">
            @foreach (var item in Model)
            {
                <div class="new-product" data-aos="zoom-in">
                    <div class="all-product">
                        <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
                            <div class="new-img-product">
                                <img src="~/images/products/@item.ImageUrl" alt="@item.Name" style="width: 100%; aspect-ratio: 1/1; object-fit: cover;">

                                <div class="note-notif">
                                    <div class="title-hot">Mới</div>
                                </div>
                                <div class="all-box-icon">
                                    <i class="fa-regular fa-heart"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>

                            <div class="contents-new-product">
                                <div class="star text-warning">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </a>

                        <div class="box-name-product">
                            <div class="name-product text-truncate" title="@item.Name">
                                @item.Name
                            </div>
                            <div id="Prict-prod" class="price-product">
                                <span class="text-danger fw-bold fs-5">@item.Price.ToString("N0") đ</span>
                            </div>

                            <div class="buttom-1">
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" class="btn border border-secondary text-dark w-100 mt-2 d-flex justify-content-center align-items-center gap-2">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span>Thêm vào giỏ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="setion-shop" data-aos="fade-up">
    <div class="box-title">
        <div class="title-shop">Shop by categories</div>
    </div>
    <div class="all-box-product">
        <div class="box-product">
            <a href="">
                <img src="Picture/categories-9.jpg" alt="">
                <div class="title-product">Armchairs</div>
            </a>
        </div>
        <div class="box-product">
            <a href="#1">
                <img src="Picture/categories-7.jpg" alt="">
                <div class="title-product">Dining Chairs</div>
            </a>
        </div>
        <div class="box-product">
            <a href="#2">
                <img src="Picture/categories-6.jpg" alt="">
                <div class="title-product">Lighting</div>
            </a>
        </div>
        <div class="box-product">
            <a href="#3">
                <img src="Picture/categories-11.jpg" alt="">
                <div class="title-product">Sofas</div>
            </a>
        </div>
        <div class="box-product">
            <a href="#4">
                <img src="Picture/categories-10.jpg" alt="">
                <div class="title-product">Storage</div>
            </a>
        </div>
    </div>
</div>



